[submodule "submodule/template_lib-master"]
	path = submodule/template_lib-master
	url = https://0.0.0.0:8443/PeterouZh/template_lib.git
[submodule "submodule/foolbox-master"]
	path = submodule/foolbox-master
	url = git@github.com:PeterouZh/foolbox.git
[submodule "EXPERIMENTS"]
	path = EXPERIMENTS
	url = https://0.0.0.0:8443/PeterouZh/pt.darts.git
